sensor_type: basler

exposure_time: 20000
gamma: 1

pfs_path: "${oc.env:ROOT}/data/pfs_files/"

trigger:
  delay: 0
  line: Line2
  fps: 8

pixel_format:
  val: BayerRG8
  valid_options:
    - Mono8
    - BayerRG8
    - RGB8

converter:
  val: PixelType_RGB8packed
  valid_options:
    - PixelType_Mono8packed
    - PixelType_BayerRG8packed
    - PixelType_RGB8packed

color_space:
  val: sRgb
  valid_options:
    - sRgb
    - Off

crop:
  do: True
  slot: 1

timeout: 5000

camera_info:
  - "VendorName"
  - "ModelName"
  - "IpAddress"
  - "SerialNumber"
  - "MacAddress"
